[submodule "pylibrnp"]
	path = pylibrnp
	url = git@github.com:icl-rocketry/pylibrnp.git
[submodule "apps/magCalibration/pylibrnp"]
	path = apps/magCalibration/pylibrnp
	url = git@github.com:icl-rocketry/pylibrnp.git
